<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>

<body layout="row" ng-app="sam-1" ng-controller="AppCtrl as ul">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')" layout="column">
    <md-toolbar flex="30">
        <div class="md-toolbar-tools">
            <span class="ion-ios-flask-outline larger"></span>
        </div>
    </md-toolbar>

    <div layout="column" flex="70">
            <md-button ui-sref="users" flex ng-click="showLeftMenu()">
                <span class="ion-person-stalker"></span>&ensp;Usuarios
            </md-button>
            <md-button ui-sref="labs" flex ng-click="showLeftMenu()">
                <span class="ion-erlenmeyer-flask"></span>&ensp;Laboratorios
            </md-button>
            <md-button ui-sref="measures" flex ng-click="showLeftMenu()">
                <span class="ion-android-watch"></span>&ensp;Unidades de medida
            </md-button>
            <md-button ui-sref="areas" flex ng-click="showLeftMenu()">
                <span class="ion-arrow-graph-up-right"></span>&ensp;Areas
            </md-button>
            <md-button ui-sref="analisys" flex ng-click="showLeftMenu()" >
                <span class="ion-clipboard"></span>&ensp;Analisis Clinicos
            </md-button>
            <md-button ui-sref="exams" flex ng-click="showLeftMenu()" >
                <span class="ion-clipboard"></span>&ensp;Pruebas
            </md-button>
            <md-button ui-sref="start" flex ng-click="showLeftMenu()">
                <span class="ion-arrow-graph-up-right"></span>&ensp;Reportes
            </md-button>
    </div>
</md-sidenav>

<div layout="column"  role="main" flex>
        <md-toolbar column="row">
            <md-button class="menu" hide-gt-sm ng-click="showLeftMenu()" aria-label="Mostrar menu" offset="70">
                <md-icon class="ion-navicon-round" ></md-icon>
            </md-button>
        </md-toolbar>
        <md-content id="content" class="main-content">
            <div ui-view class="container-fluid"></div>
        </md-content>
</div>

</body>
