<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>

    <div layout="column"  style="padding-bottom: 32px;">
      <md-card ng-repeat="analisys in analisysList">
        <md-card-content>
          <h2 class="md-title">{{ analisys.name }}</h2>
          <p>
            {{ analisys.description }}
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-icon-button" flex  aria-label="Ver" ng-click="show(analisys, $event)">
                  <i class="fa fa-eye"></i>
          </md-button>
          <md-button class="md-icon-button" flex  aria-label="Borrar" ng-click="delete(analisys)">
                  <i class="fa fa-trash"></i>
          </md-button>
        </div>
      </md-card>
            <!--md-list>
              <md-subheader class="md-no-sticky">Examenes</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="exam in analisys.exams">
                <div class="md-list-item-text">
                  <h3> {{analisys.examsObj[$index]}} </h3>
                </div>
                <md-divider ></md-divider>
              </md-list-item>
            </md-list>
            <md-list>
              <md-subheader class="md-no-sticky">Pruebas</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="test in analisys.tests">
                <div class="md-list-item-text">
                  <h3>{{analisys.testsObj[$index]}} </h3>
                </div>
                <md-divider ></md-divider>
              </md-list-item>
            </md-list-->
    </div>
</div>
