<md-dialog aria-label="Nuevo Usuario" layout="column">
    <md-dialog-content class="sticky-container">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Laboratorio</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form name="newLabForm" novalidate>
            <md-input-container flex>
                <label>Nombre</label>
                <input name="name" ng-model="newLab.name" required>
                <div ng-messages="newLabForm.name.$error">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Descripcion</label>
                <textarea ng-model="newLab.description" columns="2"></textarea>
            </md-input-container>
            <div class="md-actions" layout="row">
                <md-button md-no-ink class="md-primary" ng-click="save()" ng-disabled="newLabForm.$invalid" type="submit">
                    Guardar
                </md-button>
                <span flex></span>
                <md-button md-no-ink ng-click="cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
