<md-dialog aria-label="Nuevo Examen" layout="column">
    <md-dialog-content class="sticky-container">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva Examen</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form name="newExamForm" novalidate>
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="newExam.name" required name="name">
                <div ng-messages="newExamForm.name.$error" ng-if="newExamForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
            </md-input-container>
            <fieldset class="standar" ng-disabled="newExamForm.name.$invalid">
                <legend>Pruebas</legend>
                <div layout="row">
                    <div layout="column">
                        <md-select placeholder="Prueba" ng-model="selectedTest">
                            <md-option ng-repeat="test in tests" ng-value="test">{{test.name}}</md-option>
                        </md-select>
                        <md-button class="md-primary" ng-click="saveTest()">
                            &ensp;Agregar&ensp;&ensp;<span class="ion-chevron-right"></span>
                        </md-button>
                    </div>
                    <md-list>
                        <md-subheader class="md-no-sticky">Evaluaciones</md-subheader>
                        <md-list-item ng-repeat="test in selectedTests">
                            <div class="md-list-item-text">
                                {{test.name}}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </fieldset>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="save()" ng-disabled="newUserForm.$invalid" type="submit">
                    Guardar
                </md-button>
                <md-button ng-click="cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>