<div ng-controller="ExamsListCtrl">
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>
    <div class="sub-content">
        <div class="table-responsive-vertical shadow-z-1 center-table">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th ng-repeat="h in headers" class="md-table-header">
                        {{h}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="exam in exams" class="md-table-content-row">
                    <td data-title="Nombre">{{ exam.name }}</td>
                    <td data-title="Pruebas">
                        <ul>
                          <li ng-repeat="test in exam.tests">
                            {{exam.testsObj[$index]}}
                            <!--TODO:Show ref to tes with test as id-->
                          </li>
                        </ul>
                    </td>
                    <td data-title="">
                        <md-button class="md-icon-button" flex  aria-label="Borrar" ng-click="delete(exam)">
                            <i class="fa fa-trash"></i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
