<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>
    <div layout="column">
      <md-card ng-repeat="exam in exams">
        <md-card-content>
          <h2 class="md-title">{{ exam.name }}</h2>
          <h3>{{exams.measureSymbol}}</h3>
          <p>
            Aca iran los rangos
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-icon-button" flex  aria-label="Ver" ng-click="show(exam, $event)">
                  <i class="fa fa-eye"></i>
          </md-button>
          <md-button class="md-icon-button" flex  aria-label="Borrar" ng-click="delete(exam)">
                  <i class="fa fa-trash"></i>
          </md-button>
        </div>
      </md-card>
    </div>
</div>
