<div ng-controller="PatientsListCtrl">
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>

    <div class="sub-content">
        <div class="table-responsive-vertical shadow-z-1 center-table">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th ng-repeat="h in headers" class="md-table-header">
                      {{h}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="patient in patients" class="md-table-content-row" ng-click="showPatient(patient)">
                    <td data-title="Ci">{{ patient.ci }}</td>
                    <td data-title="Nombre">{{ patient.name }}</td>
                    <td data-title="Apellidos">{{ patient.lastName }} {{ patient.lastNameMother }}</td>
                    <td data-title="Acciones">
                        <md-button class="md-icon-button" flex  aria-label="Borrar" ng-click="delete(patient)">
                            <i class="fa fa-trash"></i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
