<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="addStudy($event)" aria-label="Agregar">
            <i class="fa fa-flask"></i>
        </md-button>
    </div>
    <md-toolbar layout="column" class="md-tall"><span flex="flex"></span>
        <div class="md-toolbar-tools">
            <div class="title" >
                <md-button class="md-icon-button" flex  aria-label="Atras" ng-click="goPatients()">
                    <i class="fa fa-arrow-left"></i>
                </md-button>
              {{patient.name}} {{patient.lastName}} {{patient.lastNameMother}}
            </div>
        </div>
    </md-toolbar>

    <div class="md-padding">
        <md-card>
            <md-card-content>
                <h2 class="md-title">Codigo de paciente:</h2>
                <p>
                    {{patient._id}}
                </p>
                <h2 class="md-title">Direccion: </h2>
                <p>
                    {{patient.address}}
                </p>
                <h2 class="md-title">Telefono:</h2>
                <p>
                    {{patient.phone}}
                </p>
                <h2 class="md-title">Genero:</h2>
                <p>
                    {{patient.gender=='F'? 'Femenino': 'Masculino'}}
                </p>
                <h2 class="md-title">Edad</h2>
                <p>
                    {{patient.birthdate}}
                </p>
            </md-card-content>
        </md-card>
        <br/>
        </div>
</div>