<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="addStudy($event)" aria-label="Agregar">
            <i class="fa fa-flask"></i>
        </md-button>
    </div>

    <div class="sub-content" layout="column">
            <span flex="20"></span>
            <div layout="column" flex="80">
                <md-card flex>
                    <md-card-content layout="column">
                        <div layout="row" flex="">
                            <md-button class="md-icon-button"  aria-label="Atras" ng-click="goPatients()">
                                <i class="fa fa-arrow-left"></i>
                            </md-button>
                            <h2 class="md-title">{{patient.name}} {{patient.lastName}} {{patient.lastNameMother}}</h2>
                        </div>
                        <p>{{patient._id}}</p>
                        <p><i class="fa fa-home"></i>&nbsp;{{ patient.address}}</p>
                        <p><i class="fa fa-phone"></i>&nbsp;{{ patient.phone}}</p>
                        <p><i class="fa fa-heart"></i>&nbsp;{{ patient.birthdate}}</p>
                        <p ng-show="patient.gender=='F'"><i class="fa fa-female"></i>&nbsp;Mujer</p>
                        <p ng-show="patient.gender=='M'"><i class="fa fa-male"></i>&nbsp;Varon</p>
                    </md-card-content>
                </md-card>
                <md-content layout="column" flex>
                    <md-whiteframe class="md-whiteframe-z1" ng-repeat="study in studies | orderBy: '-creationDate'">
                        <h4>Creado por: {{study.creatorName}}</h4>
                        <p>{{study.creationDate.toLocaleString()}}</p>
                    </md-whiteframe>
                </md-content>
            </div>
    </div>
</div>
