<md-dialog aria-label="Nuevo Usuario" layout="column">
    <form name="newUserForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Usuario</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
                  <md-input-container flex>
                  <label>Nombre</label>
                  <input name="name" ng-model="newUser.profile.name" required>
                  <div ng-messages="newUserForm.name.$error">
                      <div ng-message="required">*Campo obligatorio</div>
                  </div>
              </md-input-container>
              <md-input-container flex>
                  <label>Apellido</label>
                  <input ng-model="newUser.profile.lastName" required>
              </md-input-container>
              <md-input-container flex>
                    <label>Correo</label>
                    <input ng-model="newUser.email" required type="email" name="email">
                    <div ng-messages="newUserForm.email.$error">
                      <div ng-message="required">*Campo obligatorio</div>
                    </div>
              </md-input-container>
            <md-input-container flex>
                <label>Nombre de usuario</label>
                <input ng-model="newUser.username" required  name="username">
                <div ng-messages="newUserForm.username.$error">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
            </md-input-container>
              <md-input-container flex>
                <label>Password</label>
                <input ng-model="newUser.password" required type="password" name="password">
                <div ng-messages="newUserForm.password.$error">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
            </md-input-container>

            <fieldset class="standar">
                <legend>Roles</legend>
                <div layout="row">
                    <div layout="column">
                        <md-select placeholder="Rol" ng-model="selectedRol">
                            <md-option ng-repeat="rol in roles" ng-value="rol.name">{{rol.name}}</md-option>
                        </md-select>
                        <md-button class="md-primary" ng-click="saveRol()">
                            &ensp;Agregar&ensp;&ensp;<span class="ion-chevron-right"></span>
                        </md-button>
                    </div>
                    <md-list>
                        <md-subheader class="md-no-sticky">Roles asignados</md-subheader>
                        <md-list-item ng-repeat="rol in selectedRoles">
                            <div class="md-list-item-text">
                                {{rol}}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </fieldset>

        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newUserForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>