<md-dialog aria-label="Nueva unidad de medida">
    <form name="newTestForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva prueba</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
            <div layout="row">
                <md-input-container>
                    <label>Nombre</label>
                    <input ng-model="newTest.name" required name="name">
                    <div ng-messages="newTestForm.name.$error" ng-if="newTestForm.name.$dirty">
                        <div ng-message="required">*Campo obligatorio</div>
                    </div>
                </md-input-container>
                <md-select placeholder="Unidad de medida" ng-model="newTest.measure">
                    <md-option ng-repeat="measure in measures" value="{{measure._id}}">{{measure.name}}</md-option>
                </md-select>
            </div>
            <fieldset class="standard">
                <legend>Destinos</legend>
                <div layout="row">
                    <div layout="column" flex="70">
                        <div layout="row">
                            <md-input-container flex>
                                <label>Nombre del destino</label>
                                <input ng-model="newTarget.name" required name="targetName">
                                <div ng-messages="newTestForm.targetName.$error" ng-if="newTestForm.targetName.$dirty">
                                    <div ng-message="required">*Campo obligatorio</div>
                                </div>
                            </md-input-container>
                            <md-button class="md-primary" ng-click="saveTarget()" ng-disabled="newTestForm.targetName.$invalid">
                                &ensp;Agregar&ensp;&ensp;<span class="ion-chevron-right"></span>
                            </md-button>
                        </div>
                        <fieldset class="standar" ng-disabled="newTestForm.targetName.$invalid">
                            <legend>Evaluaciones</legend>
                            <!--Start: Evaluation form-->
                            <div layout="row">
                                <div layout="column" flex="70">
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label>Nombre de la evaluacion</label>
                                            <input ng-model="newEvaluation.name" required name="evaluationName">
                                            <div ng-messages="newTestForm.evaluationName.$error" ng-if="newTestForm.evaluationName.$dirty">
                                                <div ng-message="required">*Campo obligatorio</div>
                                            </div>
                                        </md-input-container>
                                        <md-button class="md-primary" ng-click="saveEvaluation()" ng-disabled="newTestForm.evaluationName.$invalid">
                                            &ensp;Agregar&ensp;&ensp;<span class="ion-chevron-right"></span>
                                        </md-button>
                                    </div>
                                    <div layout="row">
                                        <md-select placeholder="Tipo de evaluacion" ng-model="typeEvaluation" ng-change="selectChanged()">
                                            <md-option ng-repeat="tEva in typeEvaluations" ng-value="tEva">{{tEva.name}}</md-option>
                                        </md-select>
                                        <md-input-container ng-repeat="field in typeEvaluation.fields">
                                            <label>{{field}}</label>
                                            <input ng-model="fields[$index]" required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <md-list flex="30">
                                    <md-subheader class="md-no-sticky">Evaluaciones</md-subheader>
                                    <md-list-item ng-repeat="eval in evaluations">
                                        <div class="md-list-item-text">
                                          {{eval.name}}
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </fieldset>
                    </div>
                    <div flex="30">
                        <md-list>
                            <md-subheader class="md-no-sticky">Destinos</md-subheader>
                            <md-list-item ng-repeat="target in targets">
                                <div class="md-list-item-text">
                                  {{target.name}}
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </fieldset>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newTestForm.name.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>