<md-dialog aria-label="Nuevo Modulo" layout="column" class="md-thins-dialog">
    <form name="newModuleForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Modulo</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container" layout="column">
            <div layout="row">
              <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="newModule.name" required name="name" module>
                <div ng-messages="newModuleForm.name.$error" ng-if="newModuleForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message='duplicated'>*El rol ya existe</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Estado</label>
                <input ng-model="newModule.state" required name="state">
                <div ng-messages="newModuleForm.state.$error" ng-if="newModuleForm.state.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex>
                <label>Orden</label>
                <input ng-model="newModule.order" required name="order">
                <div ng-messages="newModuleForm.order.$error" ng-if="newModuleForm.order.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Nombre del icono</label>
                <input ng-model="newModule.icon" required name="state">
                <div ng-messages="newModuleForm.icon.$error" ng-if="newModuleForm.icon.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
              </md-input-container>
            </div>
            <div layout="column">
              <md-chips ng-model="selectedVegetables" md-autocomplete-snap md-require-match>
                <md-autocomplete
                  md-selected-item="selectedItem"
                  md-search-text="searchText"
                  md-items="item in querySearch(searchText)"
                  md-item-text="item.name"
                  placeholder="Elija los roles permitidos">
                  <span md-highlight-text="searchText">{{item.name}}</span>
                </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.name}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newModuleForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>
