<div ng-controller="MeasuresListCtrl">
    <div layout="column" layout-fill style="padding-bottom: 32px;" ng-show=collapse>
        <form name="newMeasureForm">
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="newMeasure.name" required>
            </md-input-container>
            <md-input-container flex>
                <label>Simbolo</label>
                <input ng-model="newMeasure.symbol">
            </md-input-container>
            <md-button class="md-primary md-hue-1" ng-click="saveMeasure()" type="submit" ng-disabled="newMeasureForm.$invalid">Guardar</md-button>
        </form>
    </div>
    <md-list>
        <md-subheader class="md-no-sticky">
            <md-button class="md-fab md-mini md-primary" ng-click="showAddNew()">
              {{buttonStatus}}
            </md-button>
            Numero de Unidades de Medida: {{measures.length}}
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="measure in measures">
            <div class="md-list-item-text">
                <h3>{{ measure.name }}</h3>
                <p>{{ measure.symbol }}</p>
            </div>
            <md-divider ></md-divider>
        </md-list-item>
    </md-list>
</div>