<div ng-controller="MeasuresListCtrl">
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)">
            <span class="ion-plus" fill="white"></span>
        </md-button>
    </div>
    <md-toolbar layout="column" class="md-tall md-whiteframe-z1"><span flex="flex"></span>
        <div class="md-toolbar-tools">
            <div layout="row" flex="flex" class="fill-height">
                <div ng-hide="showTextSearch" class="md-toolbar-item md-breadcrumb">
                    <span>Unidades de Medida</span>
                </div>
                <span flex="flex" ng-hide="toggleSearch"></span>
                <md-input-container class="input-search" flex="flex" style="padding-left:88px;" ng-show="showTextSearch">
                    <input type="text" ng-model="search"/>
                </md-input-container>
                <div layout="row" class="md-toolbar-item md-tools" offset="30">
                    <a href="#" ng-click="toggleSearch()" class="md-button md-default-theme">
                        <i class="ion-android-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </md-toolbar>

    <md-card>
        <md-card-content>
            <table class="md-table">
                <thead>
                <tr class="md-table-headers-row">
                    <th ng-repeat="h in headers" class="md-table-header">
                        {{h}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="measure in measures" class="md-table-content-row">
                    <td class="md-table-thumbs"><span class="ion-ios-person"></span></td>
                    <td class="md-table-content">{{ measure.name }}</td>
                    <td class="md-table-content">{{ measure.symbol}}</td>
                </tr>
                </tbody>
            </table>
        </md-card-content>
    </md-card>
</div>