<md-dialog aria-label="Nuevo Estudio" layout="column" class="md-big-dialog">
    <form name="newPatientForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Estudio</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div layout="row">
                <div ng-show="existingStudy">
                    Nombre del paciente: {{patient.name}}
                </div>
                <div layout="row" ng-hide="existingStudy">
                    <md-autocomplete
                            md-no-cache="noCache"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.value"
                            md-min-length="0"
                            placeholder="Paciente"
                            md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                        <span class="item-title">
                            <span> {{item.value}}</span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                                <strong>{{item.ci}}</strong>
                            </span>
                        </span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>
            <div layout="row">
                <div ng-show="existingStudy && !isDoctor">
                    Doctor: {{patient.doctor}}
                </div>
                <div layout="row" ng-hide="isDoctor">
                    <md-autocomplete
                            md-selected-item="selectedDoctor"
                            md-search-text="searchDoctorText"
                            md-items="item in queryDoctors(searchDoctorText)"
                            md-item-text="item.name"
                            md-min-length="0"
                            placeholder="Doctor"
                            md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                        <span class="item-title">
                            <span> {{item.value}}</span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                                <strong>{{item.ci}}</strong>
                            </span>
                        </span>
                        </md-item-template>
                    </md-autocomplete>
                    <div >
                        <md-button class="md-primary" ng-init="newDoctor=false" ng-click="createNewDoctor=true">+ Nuevo Doctor</md-button>
                        <div ng-show="createNewDoctor" layout="column">
                            <md-input-container flex>
                                <label>Nombre</label>
                                <input ng-model="newDoctor.name" name="newDoctorName">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Apellido</label>
                                <input ng-model="newDoctor.lastName" name="newDoctorLastName">
                            </md-input-container>
                            <md-button class="md-raised md-primary" ng-click="createNewDoctor=false">Cancelar</md-button>
                            <md-button class="md-raised md-primary" ng-click="saveNewDoctor()">Guardar</md-button>
                        </div>
                    </div>
                </div>
            </div>

            <md-content layout-padding>
                    <ul>
                       <li ng-repeat="analisys in analisysList">
                           <md-checkbox ng-model="analisys.selected" aria-label="Checkbox 1" ng-click="selectAnalisys(analisys)">
                               {{analisys.name}}
                           </md-checkbox>
                           <ul>
                               <li ng-repeat="test in analisys.testsObj">
                                   <md-checkbox ng-model="test.selected" aria-label="Checkbox 1">
                                       {{test.name}}
                                   </md-checkbox>
                               </li>
                               <li ng-repeat="exam in analisys.examsObj">
                                   <md-checkbox ng-model="exam.selected" aria-label="Checkbox 1" ng-click="selectExam(exam)">
                                       {{exam.name}}
                                   </md-checkbox>
                                   <ul>
                                       <li ng-repeat="test in exam.testsObj">
                                           <md-checkbox ng-model="test.selected" aria-label="Checkbox 1">
                                               {{test.name}}
                                           </md-checkbox>
                                       </li>
                                   </ul>
                               </li>
                           </ul>
                       </li>
                    </ul>
            </md-content>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newPatientForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>