<md-dialog aria-label="Nuevo Estudio" layout="column" class="md-big-dialog">
    <form name="newPatientForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Estudio</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
            <md-input-container flex>
                <label>Nombre del paciente</label>
                <input ng-model="patient.name" required name="name">
                <div ng-messages="newPatientForm.name.$error" ng-if="newPatientForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-content layout-padding>
                    <ul>
                       <li ng-repeat="analisys in analisysList">
                           <md-checkbox ng-model="analisys.selected" aria-label="Checkbox 1" ng-click="selectAnalisys(analisys)">
                               {{analisys.name}}
                           </md-checkbox>
                           <ul>
                               <li ng-repeat="test in analisys.testsObj">
                                   <md-checkbox ng-model="test.selected" aria-label="Checkbox 1">
                                       {{test.name}}
                                   </md-checkbox>
                               </li>
                               <li ng-repeat="exam in analisys.examsObj">
                                   <md-checkbox ng-model="exam.selected" aria-label="Checkbox 1" ng-click="selectExam(exam)">
                                       {{exam.name}}
                                   </md-checkbox>
                                   <ul>
                                       <li ng-repeat="test in exam.testsObj">
                                           <md-checkbox ng-model="test.selected" aria-label="Checkbox 1">
                                               {{test.name}}
                                           </md-checkbox>
                                       </li>
                                   </ul>
                               </li>
                           </ul>
                       </li>
                    </ul>
            </md-content>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newPatientForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>