<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>
    <div layout="column" layout-fill style="padding-bottom: 32px;" class="sub-content">
        <md-whiteframe class="md-whiteframe-z1">
          <md-list>
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Estudios</span>
              </h2>
            </md-toolbar>
            <md-list-item class="md-3-line"   ng-repeat="study in studies | orderBy: '-creationDate'" ng-click="show(study)">
              <div class="md-list-item-text">
                <h3>Paciente</h3>
                <h4>{{study.patientObj.name}} {{study.patientObj.lastName}} {{study.patientObj.lastNameMother}}</h4>
                <p>{{study.creationDate.toLocaleString()}}</p>
              </div>
              <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-whiteframe>
    </div>
</div>
